<!-- <form methodaction="">
	<input type="hidden" name="_method" value="DELETE"> #NEED THIS FOR METHOD OVERRIDE
	<input type="submit" value="DELETE THIS PERSON">
</form> -->

<h2>we have a mission statment of some kind</h2>
<h5>and when I figure out what it is you will be the first to konw</h5>

<div class="button"><a href="/topics">Go the the Catagories!</a></div>
