<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Small Things Forum</title>
	<link rel="stylesheet" href="/public/stylsheet.css">
</head>
<body>
	<%= yield %>
</body>
</html>