.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}

a{
	text-decoration: none;
	color:black;
}

a:hover{
	color: orange;
}

body{
	color: #000000;
	background-color: #777777;
	box-sizing: border-box;
}

header{
	height:300px;
	background-image: url(https://farm1.staticflickr.com/585/21142224964_b685bd04d7_k.jpg);
	background-size: cover;
	background-position: ;
	text-align: center;
}

footer{
	height:100px;
}

.headBanner{
	background-color: rgba(0,0,0,0.5);
}

header div h1{
	font-size: 60pt;
	color: white;
}

.navBar{
	background-color: white;
}

header ul{
	width: 60%;
	max-width: 960px;
	margin:0 auto;

}
header ul li{
	display: inline-block;
	width: 25%;
	float: left;
	font-size: 20pt;
}

.main{
	width: 960px;
	margin:0 auto;

}
